[submodule "third_party/labstreaminglayer"]
	path = third_party/labstreaminglayer
	url = https://github.com/buccancs/labstreaminglayer
[submodule "third_party/FactorizePhys"]
	path = third_party/FactorizePhys
	url = https://github.com/buccancs/FactorizePhys
[submodule "third_party/ShimmerAndroidAPI"]
	path = third_party/ShimmerAndroidAPI
	url = https://github.com/buccancs/ShimmerAndroidAPI
[submodule "third_party/pylsl"]
	path = third_party/pylsl
	url = https://github.com/buccancs/pylsl
